// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

// Global variables - light theme
:root {
	--bg: #fff;
	--bg-dark: #eceef5;
	--text: #0f0f0f;
	--accent1: #004586;
	--accent2: #80b541;
}

// Global variables - dark theme
// @media (prefers-color-scheme: dark) {
// 	:root {
// 		color-scheme: dark;
// 		--bg: #212121;
// 		--accent-bg: #2b2b2b;
// 		--text: #dcdcdc;
// 		--text-light: #ababab;
// 		--accent: #ffb300;
// 	}
// }

// CSS reset
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// General tags

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	color: var(--text);
	background-color: var(--bg);
	font-family: system-ui, sans-serif;
	font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2rem 0;
	color: var(--accent1);
	font-family: 'Calistoga', cursive;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 4.5rem;
}

h2 {
	font-size: 3.6rem;
}

p {
	line-height: 1.4;
}

// General classes

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 1.2rem 2.4rem;
	color: var(--bg);
	background-color: var(--accent1);
	border-radius: 4rem;
	border: 1px solid transparent;
	font-size: 1.6rem;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;

	& > * {
		position: relative;
		z-index: 10;
	}

	& *:first-child {
		margin-right: 0.4rem;
	}

	& > svg {
		width: 2.4rem;
		height: 2.4rem;
	}

	&--accent {
		color: var(--text);
		background-color: var(--accent2);
	}

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: white;
		border-radius: 4rem;
		opacity: 0;
		transition: opacity 0.2s;
		z-index: 5;
	}

	&:hover::after {
		opacity: 0.2;
	}
}

.container {
	margin: auto;
	padding: 6rem 2rem;
}

.image {
	max-width: 100%;
	border-radius: 25px;
	aspect-ratio: 3 / 2;
	object-fit: cover;
}

.underlined {
	text-decoration: var(--accent2) underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: from-font;
}

// Navigation and logo

.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	color: var(--bg);
	background-color: var(--accent1);
	border-bottom: 1px solid rgb(0, 0, 0, 0.25);
	z-index: 100;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;
		height: 100%;
		margin: auto;
	}

	&__menu {
		display: none;

		& > a {
			margin: 0 1.2rem;
			padding: 0.4rem;
			color: var(--bg);
			border-bottom: 0.2rem solid transparent;
			font-size: 1.6rem;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			transition: border 0.2s, color 0.2s;

			&:last-child {
				margin-right: -0.4rem;
			}

			&:hover {
				color: var(--accent2);
				border-bottom: 0.2rem solid var(--accent2);
			}
		}
	}

	&__hamburger-button {
		display: inline-block;
		min-width: 4rem;
		min-height: 4rem;
		color: var(--bg);
		background: none;
		border: none;
		cursor: pointer;
	}
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--bg);
	font-size: 3.2rem;
	text-decoration: none;

	&__stomatolog {
		display: none;
		// text-transform: uppercase;
		letter-spacing: -1px;
	}

	&__piasecki {
		font-family: 'Calistoga', cursive;
	}

	& > svg {
		min-width: 1.5em;
		min-height: 1.5em;
		color: var(--accent2);
	}
}

// Hero section

.hero {
	background-color: var(--bg-dark);

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__buttons {
		margin: 4rem 0;
	}
}

// Services section

.services {
	background-color: var(--bg);

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__info {
		margin: auto;

		& > ul {
			li {
				display: flex;
				align-items: center;
				margin-bottom: 2rem;
				font-weight: bold;
				list-style-type: none;

				svg {
					margin-right: 2rem;
					width: 2.4rem;
					height: 2.4rem;
					color: var(--accent2);
				}
			}
		}
	}

	&__img {
		display: none;
	}
}

// About section

.about {
	background-color: var(--bg-dark);

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__img {
		aspect-ratio: 1 / 1;
	}

	&__info {
		p {
			margin-bottom: 2rem;
		}

		li {
			display: flex;
			align-items: center;
			margin-bottom: 1.8rem;
			list-style-type: none;

			svg {
				min-width: 2.7rem;
				min-height: 2.7rem;
				margin-right: 1.8rem;
				color: var(--accent2);
			}
		}
	}
}

// Office section

.office {
	// background-color: var(--bg-dark);
}

// Pricelist and Technologies sections

.pricelist,
.technologies {
	background-color: var(--accent1);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			margin-bottom: 4rem;
			color: var(--bg);
			text-align: center;
		}
	}
}

// Other screen sizes

@media (width <= 375px) {
	.navbar {
		position: relative;
	}

	.hero {
		&__buttons {
			& > .button {
				margin-bottom: 0.5rem;
			}
		}
	}
}

@media (width >= 576px) {
	.container,
	.navbar__container {
		max-width: 576px;
	}

	.logo {
		&__stomatolog {
			display: inline;
		}
	}
}

@media (width >= 768px) {
	.container,
	.navbar__container {
		max-width: 768px;
	}

	.services {
		&__container {
			flex-direction: row;
			justify-content: space-between;
		}

		&__info {
			height: fit-content;
			max-width: 35%;
		}

		&__img {
			display: block;
			max-width: 55%;
		}
	}
}

@media (width >= 992px) {
	.container,
	.navbar__container {
		max-width: 992px;
	}

	.navbar {
		&__menu {
			display: block;
		}

		&__hamburger-button {
			display: none;
		}
	}

	.hero {
		&__container {
			flex-direction: row;
			justify-content: space-between;
		}

		&__info {
			height: fit-content;
			margin: auto 0;
			max-width: 35%;
		}

		&__buttons {
			margin-bottom: 0;
		}

		&__img {
			max-width: 55%;
		}
	}

	.about {
		&__container {
			flex-direction: row;
			justify-content: space-between;
		}

		&__img {
			display: block;
			max-width: 30%;
		}

		&__info {
			height: fit-content;
			margin: auto;
			max-width: 55%;
		}
	}
}

@media (width >= 1200px) {
	.container,
	.navbar__container {
		max-width: 1200px;
	}

	.container {
		padding: 12rem 2rem;
	}
}
